/* css */
.container {
  min-width: 380px;
  min-height: 420px;
}

.board {
  display: grid;
  grid-template-areas: 'board';
  grid-column-gap: 10px;
  grid-row-gap: 11px;
  border: 1px solid white;
  box-shadow: darkgrey 2px 2px;
}

.cell {
  background-color: lightgrey;
  color: #000;
}

/* Helpers */
.flex_center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .box_center {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%);
// }